body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 10px 10px;
}

.grid-box,
.gridline-box {
    background-color: transparent;
}

.gridline-box {
    border: 1px solid rgb(238, 238, 238);
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: 18px;
    border: 1px solid black;
    box-shadow: 5px 5px;
    margin-right: 24px;
    padding: 16px;
}

.gridsize-display {
    display: inline-block;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    font-size: 1rem;
    border-radius: 0;
    box-shadow: 1px 1px;
}

button:hover {
    background-color:rgb(233, 233, 233)
}

button.toggle-button {
    color: black;
    background-color: rgb(212, 212, 212);
}

#clear-button:active {
    background-color: rgb(212, 212, 212);
}